.dockerignore

/crypto-cli
*.exe
*.out
*.test
results/*.enc
*.enc
*.dec
*.bak
*.tmp
*.old

/build/
dist/

.DS_Store
*.swp

*.log

vendor/
go.sum

go.work
go.work.sum

.vscode/
.idea/
*.code-workspace

